! URXVT FONTS
!------------------------------------------------

URxvt*font: xft:inconsolata:pixelsize=11
URxvt*boldFont: xft:inconsolata:pixelsize=11
URxvt*allow_bold: true

! URXVT ENABLE LINK SUPPORT
!------------------------------------------------

URxvt.perl-ext-common: default,matcher,tabbedex,vtwheel,clipboard
!tabbed
URxvt.matcher.button:   1
URxvt.perl-ext:      default,url-select
URxvt.keysym.M-u: perl:url-select:select_next
URxvt.url-select.launcher:   /usr/bin/firefox
URxvt.url-select.underline: true

! URXVT COPY PASTE SHORTCUTS
!------------------------------------------------

URxvt.keysym.M-c: 			perl:clipboard:copy
URxvt.keysym.M-v: 			perl:clipboard:pasteq

! URXVT SCROLLBAR AND CURSOR STYLE
!------------------------------------------------

URxvt*saveLines: 			300000
URxvt.scrollBar: 			false
!URxvt*scrollstyle:			plain
URxvt*cursorBlink: 			false
URxvt*cursorUnderline: 		false
URxvt*cursorColor: 			#51c4d4

! URXVT TABS
!------------------------------------------------

URxvt.tabbedex.autohide: 	yes
URxvt.tabbedex.tabbar-fg: 	2
URxvt.tabbedex.tabbar-bg: 	0
URxvt.tabbedex.tab-fg:    	10
URxvt.tabbedex.tab-bg:    	0
URxvt.tabbedex.title: 		yes
URxvt.tabbedex.new-button:  no

! URXVT UNDERSCORE
!------------------------------------------------

!URxvt.lineSpace: 1

! URXVT COLORS
!------------------------------------------------

! special
*.foreground:   #bec7d5
*.background:   #292B31
*.cursorColor:  #bec7d5

! black
*.color0:       #181c22
*.color8:       #ee4ff5

! red
*.color1:       #20252c
*.color9:       #EC709A

! green
*.color2:       #5c90d3
*.color10:      #52acf9

! yellow
*.color3:       #6CDCBD
*.color11:      #359fee

! blue
*.color4:       #5e6a7b
*.color12:      #f3a7f7

! magenta
*.color5:       #7e8ea3
*.color13:      #50b63e

! cyan
*.color6:       #a9b6c8
*.color14:      #64EF43

! white
*.color7:       #dee3ea
*.color15:      #EF439F
