!------------------------------------------------------------------------------

! Terminal size
URxvt.geometry: 80x27

! Font
URxvt.font: xft:DejaVu Sans Mono:size=10
URxvt.boldFont: xft:DejaVu Sans Mono:size=10

! Scrollbar
URxvt*scrollBar: false
URxvt*scrollBar_right: false

! Cursor
URxvt*cursorBlink: true
URxvt*cursorUnderline: true

! --- ~/.Xresources ------------------------------------------------------------
! ------------------------------------------------------------------------------
! --- generated with 4bit Terminal Color Scheme Designer -----------------------
! ------------------------------------------------------------------------------
! --- http://ciembor.github.com/4bit -------------------------------------------
! ------------------------------------------------------------------------------

! --- special colors ---

*background: #2b2b2b
*foreground: #008f9f

! --- standard colors ---

! black
*color0: #030303

! bright_black
*color8: #2b2b2b

! red
*color1: #f50666

! bright_red
*color9: #fd9cc3

! green
*color2: #66f506

! bright_green
*color10: #c3fd9c

! yellow
*color3: #f59506

! bright_yellow
*color11: #fdd69c

! blue
*color4: #0666f5

! bright_blue
*color12: #9cc3fd

! magenta
*color5: #9506f5

! bright_magenta
*color13: #d69cfd

! cyan
*color6: #06f595

! bright_cyan
*color14: #9cfdd6

! white
*color7: #cdcdcd

! bright_white
*color15: #ffffff


! ------------------------------------------------------------------------------
! --- end of terminal colors section -------------------------------------------
! ------------------------------------------------------------------------------
